---
layout: page
title: Officers
permalink: /officers/
---

<style type="text/css" media="screen">
    .bio-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-gap: 1.4rem;
    }

    .bio-card-grid::after {
        content: "";
        grid-column: 1 / -1;
    }

    .bio-img-wrapper::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .bio-img-wrapper {
        position: relative;
    }

    .bio-img-wrapper img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="bio-card-grid">
    {%- for officer in site.data.officers -%}
        {% include bio-card.html person=officer %}
    {%- endfor -%}
</div>


<h1>Coaches</h1>
<div class="bio-card-grid">
    {%- for coach in site.data.coaches -%}
        {% include bio-card.html person=coach %}
    {%- endfor -%}
</div>
