---
layout: page
title: Our Races
permalink: /races/
---


{% include race-feature.html
    name="March Triathlon Series"
    link="https://www.marchtriathlonseries.com/"
    image="CPTri_047.jpg"
    text="The March Triathlon Series is the longest running collegiate triathlon in the West Coast. The event started as a senior project in 1998 and was held on campus at Cal Poly. Race participants joined from Cal Poly, Santa Barbara, and Cal Berkeley with a total of 15 racers. The spring race served as a warm up for Wildflower, which was the collegiate national championship race. Eventually, the race grew and moved to Lake Lopez, Arroyo Grande in 2004, where it transformed into the March Triathlon Series."
%}

{% include race-feature.html
    name="Tour De Donut"
    link="https://www.slotourdedonut.com/"
    image="IMG_1018.jpg"
    text="Prepare your stomach for the sweetest race of the year: the Tour de Donut.
    Eat as many donuts as you can and use your sugar-rush as fuel as you race to the top of Prefumo Canyon. <br/>
    <strong>Victory has never tasted so sweet...</strong>"
%}

{% include race-feature.html
    name="Hearts and Soles"
    link="https://www.eventbrite.com/e/heart-soles-2023-tickets-514589670557"
    image="heart&soles.jpg"
    text="Heart & Soles is a Valentine’s Day themed 5k, 10k, and kids run.
    Every year, Cal Poly Triathlon partners with United Way of SLO County to help support
    local nonprofits in our community. On race day, there will be an expo with food, games
    and contests for the participants, in addition to booths set up by our sponsors. Grab
    a friend, your best Valentine’s costume, and join us for a beautiful race day!"
%}

{% include race-feature.html
    name="West Coast Collegiate Triathlon Conference Race Schedule"
    link="https://www.wcctc.com/race-calendar-2/"
    image="MAX.JPEG"
    text="Click the link to check out the 2022-2023 race schedule for West Coast Collegiate triathlons!"
%}
